<h3>Please enter the information to create a new product</h3>

<form action="CreateNewProductSubmit" method="post">
    <input name="Name" value="Name"/>
    <input name="Description" value="Enter a description"/>
    <input name="Price" type="number" value="Enter a price"/>
    <input name="Category" value="Enter a category"/>
    <input type="submit" />

</form>
